<h1> stupid coaching</h1>

<div class = "question">
<p> you-    </p>
<p><%= @questions%></p>
</div>

<div class="answer">
<p> your coach-</p>
<p><%= @answer%></p>
</div>

<div class="voltar">
<%= link_to 'back to main', ask_path%>
</div>
